* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: arial, sans-serif;
    background-color: #f4f4f4;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EEEEEE;
    color: white;
    padding: 20px;
}

.logo {
    width: 300px;
}

.logo img {
    max-width: 100%;
    height: auto;
    display: block;
}

.menu a {
    color: black;
    text-decoration: none;
    margin-left: 20px;
}

.menu a:hover,
a [aria-current="page"] {
    text-decoration: underline;
    text-decoration-color:  lightblue;
    text-decoration-thickness:  5px;
}

h1 {
    text-align: center;
    padding: 20px 0 0 0 ;
    margin: 0;
}

main {

    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 30px;
}

.produtos {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 20px 40px 20px;
}

.box {
    text-align: center;
    align-items: center;
    align-content: center;
    background-color: white;
    padding: 30px;
    margin: 10px;
    width: 30%;
    box-shadow: 0 0 10px rgba (0, 0, 0, 0.1);
    border-radius: 20px;
}

.footer {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #1E90FF;
    color: white;
    text-align: center;
    padding: 20px;
    margin: 10px 0 0 0 ;
}

.box h2 {
    color: #1E90FF;
    font-size: 24px;
}

.box img {
    width: 250px;
    padding: 20px 0;
}

.box p {
    font-size: 14px;
    padding-bottom: 20px;
}

.box a {
    text-decoration: none;
    background-color: #1E90FF;
    padding: 5px 15px;
    color: white;
    border-radius: 20px;
    font-size: 14px;
}

@media (max-width: 768px) {
    .main {
        flex-direction: column;
        align-items: center;
    }


.box {
    width: 30%;
    margin-bottom: 20px;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.menu a {
    margin: 5px 0;
}

h1 {
    text-size-adjust: 70%;
}

.logo {
    width: 60%;
}
}